@* Views/Shared/_Keyboard.cshtml *@
<div id="virtualKeyboard" class="keyboard-glass" style="display:none;">
    <div class="keyboard-keys"></div>
    <div class="keyboard-actions">
        <button class="key-glass action-key" data-key="space">␣ فاصله</button>
        <button class="key-glass action-key" data-key="enter">⏎ اینتر</button>
        <button class="key-glass action-key" data-key="backspace">⌫ بک‌اسپیس</button>
        <button class="key-glass action-key" data-key="close">✖ بستن</button>
    </div>
</div>

<link rel="stylesheet" href="~/css/keyboard.css" />
<script src="~/js/keyboard.js"></script>
