html {
  font-size: 14px;
}

@font-face {
    font-family: "bootstrap-icons";
    src: url("/css/fonts/bootstrap-icons.woff2") format("woff2"), url("/css/fonts/bootstrap-icons.woff") format("woff");
    font-display: block;
}
@font-face {
    font-family: Vazir;
    src: url('/css/fonts/vazir/Vazir-Regular-UI.eot') format('embedded-opentype'), url('/css/fonts/vazir/Vazir-Regular-UI.woff2') format('woff2'), url('/css/fonts/vazir/Vazir-Regular-UI.woff') format('woff'), url('/css/fonts/vazir/Vazir-Regular-UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('/css/fonts/vazir/Vazir-Regular-UI.eot') format('embedded-opentype'), url('/css/fonts/vazir/Vazir-Regular-UI.woff2') format('woff2'), url('/css/fonts/vazir/Vazir-Regular-UI.woff') format('woff'), url('/css/fonts/vazir/Vazir-Regular-UI.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('/css/fonts/vazir/Vazir-Regular-UI.eot') format('embedded-opentype'), url('/css/fonts/vazir/Vazir-Regular-UI.woff2') format('woff2'), url('/css/fonts/vazir/Vazir-Regular-UI.woff') format('woff'), url('/css/fonts/vazir/Vazir-Regular-UI.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('/css/fonts/vazir/Vazir-Regular-UI.eot') format('embedded-opentype'), url('/css/fonts/vazir/Vazir-Regular-UI.woff2') format('woff2'), url('/css/fonts/vazir/Vazir-Regular-UI.woff') format('woff'), url('/css/fonts/vazir/Vazir-Regular-UI.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('/css/fonts/vazir/Vazir-Regular-UI.eot') format('embedded-opentype'), url('/css/fonts/vazir/Vazir-Regular-UI.woff2') format('woff2'), url('/css/fonts/vazir/Vazir-Regular-UI.woff') format('woff'), url('/css/fonts/vazir/Vazir-Regular-UI.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}